{% extends "account/accounts_sub.html" %}

{% block title %}password changed{% endblock %}

{% block account_content %}
    <div class="col col-11 col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 form_div">
        <h2 class="form_title">Password reset complete</h2>
        <hr>
        <p class="form_instructions">
            Your password has been set. You may go ahead and log in now.
        </p>
        <a href="{% url 'accounts:login' %}">
            <button class="form_buttons" style="width: 100%"> Log In</button>
        </a>
    </div>
{% endblock %}