{% extends "base.html" %}

{% block title %}password reset{% endblock %}

{% block web_content %}
    <style>
        #id_new_password1, #id_new_password2{
            width: 100%;
            padding: 5px 5px;
            margin-bottom: 5px;
        }
        .errorlist{
            list-style: none;
             padding: 0;
        }
        .errorlist li{
            padding: 5px 5px;
            background-color: rgba(255, 0, 0, 0.47);
            border-radius: 3px;
        }
    </style>
    <div class="formsDiv">
        <div id="content" class="colM">
            <h1 class="formTitle">Change your password</h1>
            <hr>
            <p class="formInstructions">Please your enter old password and then enter your new password twice, so we can verify you typed it in correctly.</p>
            <form method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Reset my password" class="formButton">
            </form>
            <br class="clear">
        </div>
    </div>

{% endblock %}