{% extends "account/accounts_sub.html" %}

{% block title %}password reset{% endblock %}

{% block account_content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary" alert="{{ message.tags }}" role="alert">
                <p style="text-align: center;">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <div class="col col-11 colo-xs-10 col-sm-6 col-md-5 col-lg-4 col-xl-3 form_div">
        <h2 class="form_title">Enter new password</h2>
        <hr>
        <p class="form_instructions">Please enter your new password twice, so we can verify you typed it in correctly.</p>
        <form method="post" class="accounts_form">
            {% csrf_token %}
            <label for="new_password1">Create new password:</label>
            <input class="form_inputs"  type="password" id="new_password1" name="new_password1" placeholder="New password" required>
            <label for="new_password2">Confirm new password:</label>
            <input class="form_inputs"  type="password" id="new_password2" name="new_password2" placeholder="Confirm new password" required>
            <button type="submit" class="form_buttons">Reset my password</button>
        </form>
    </div>
{% endblock %}